/*menu*/

*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

#menu-h{
    background-color: #ea399f;
    text-align: center;

}


#menu-h a{
  text-align: center;
    max-width: 900px;
    list-style: none;
    padding: 0;
    background-color: #ea399f;
}

#menu-h a{
    display: block;
}

#menu-h  a {
    color: #CBD0F7;
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    transition: background .4s;
}

#menu-h a:hover {
    background-color: #ffff;
}

#menu-h :last-child {
    float: right;
    background-color: #265bee;
    border-radius: 12%;
}

/* chamada*/

#chamada {
    background-color: #ea399f;
    text-align: center;
}

.buttonpro{
  position: relative;
  background-color: #dd8fbd;
  border: none;
  font-size: 24px;
  color: #ffff;
  padding: 6px;
  width: 350px;
  text-align: center;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}

.buttonpro:after {
    content: "";
    background: #ea399f;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.buttonpro:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

/* inscricao*/
#inscricao h1{
    background-color: #ceea24;
    text-align: center;
}

#inscricao{
   
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ceea24;
    padding: 35px;
}

.buttoninscricao{
    position: relative;
    background-color: #265bee;
    border: none;
    font-size: 24px;
    color: #ffff;
    padding: 6px;
    width: 300px;
    text-align: center;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
  }
  
  .buttoninscricao:after {
      content: "";
      background: #265bee;
      display: block;
      position: absolute;
      padding-top: 300%;
      padding-left: 350%;
      margin-top: -120%;
      opacity: 0;
      transition: all 0.8s
  }
  
  .buttoninscricao:active:after {
      padding: 0;
      margin: 0;
      opacity: 1;
      transition: 0s
  }

  #palestrantes {
    text-align: center;
    margin: center;
    display: block;
    flex-direction: column;
    
    background-color: #ea399f;
    padding: 30px;
    
  }
    

  .palestranteum img {
    border-radius: 10%;
    text-align: center;
    width: 25%;
    text-align: auto;
    
  }

  .palestrantedois img {
    border-radius: 50%;
    text-align: left;
    width: 8%;
  }

  .palestrantetres img {
    border-radius: 50%;
    text-align: left;
    width: 8%;
  }

  .palestrantequatro img{
    border-radius: 50%;
    text-align: left;
    width: 8%;
  }

  h3{
    font-size: 19px;
    background-color: #ceea24;
  }


  /*palestrante*/

  #estatísticas{
    text-align: center;
    background-color: #265bee;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  .umesta{
    width: 10%;
  }

  .doisesta{
    width: 10%;
  }

  .tresesta{
    width: 10%;
  }
  
  .quatroesta{
    width: 10%;
  }
  /*Estatistica*/
  
  #edições-anteriores img{
    border-radius: 3%;
    text-align: center;
    display: inline-block;
    position: center;
    width: 940px;
    height: 650px;
  }

  #edições-anteriores{
    background-color: #ceea24;
    text-align: center;
    font-size: 19px;
  }
  /*edições anteriores*/

  #patrocinadores{
    background-color: #265bee;
    text-align: center;
    font-size: 25px;

  }

  #patrocinadores img{
    text-align: center;
    display: inline-block;
    position: center;
    width: 620px;
    height: 300px;
  }

  .buttonpatrocinador{
    position: relative;
    background-color: #3e70f8;
    border: none;
    font-size: 24px;
    color: #ffff;
    padding: 6px;
    width: 300px;
    text-align: center;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
  }

  .buttonpatrocinador:after {
    content: "";
    background: #3e70f8;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

  .ppratro{
    background-color: #3e70f8;
  }

  .patro{
    background-color: #265bee;
  }

  /*patrocinadores*/

  #depoimento img{
    width: 10%;
    text-align: center;
    display: block;
    border-radius: 25% 10%;
  }

  #depoimento{
    background-color: #b20ff6;
    text-align: center;
  }

  /*Depoimento*/

 #fique-por-dentro{
    text-align: center;
    background-color: #ea399f;
    font-size: 19px;
    line-height: 2em;
  }

  .buttonnot{
    position: relative;
    background-color: #3e70f8;
    border: none;
    font-size: 24px;
    color: #ffff;
    padding: 6px;
    width: 250px;
    text-align: center;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
  }

  .buttonot:after {
    content: "";
    background: #3e70f8;
    display: block;
    position: absolute;
    padding-top: 200%;
    padding-left: 250%;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
  }

  input[type=text] {
    height: 30px;
    width: 250px;
    border: none;
    border-radius: 10px;
    }

    input[type=tel] {
    height: 30px;
    width: 250px;
    border: none;
    border-radius: 10px;
    }

    input[type=função] {
    height: 30px;
    width: 250px;
    border: none;
    border-radius: 10px;
    }

    /*notifições*/

    footer{
      background-color: #265bee;
    }

    .foot{
      background-color: #265bee;
      border: none;
      display: block;
      width: 15%;
      position: center;
      text-align: center;
    }

    .footum {
      background-color: #265bee;
      display: block;
      text-align: center;
      position: center;
    }

    #seções{
      background-color: #265bee;
      display: block;
      text-align: center;
    }

    

